.App {
  text-align: center;
  background-color: #171923;
  scroll-behavior: smooth;
  width: 100vw
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Ubuntu+Mono:wght@400;700&display=swap');

button:hover{
  color: #f1f1f1;
  opacity: 1;
  border-color: #9f7aea;
}

.scroll{
  background: #9f7aea;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  position: relative
}
.nav-menu{
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 105;
  background-color: #171923;
}
#initial{
  color: #9f7aea;
}

@keyframes changeColor {
  0% {
    color: #9f7aea;
  }
  50% {
    color: #171923;
  }
  100%{
    color: #9f7aea;
  }
}

#downArrow{
  animation-name: changeColor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}